html {
    margin: 0;
}

span{
    display: block;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 80px;
    width: 80px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 10px;
}

#orange{
    background-color: orange;
}
#purple{
    background-color: purple;
}
#red{
    background-color: red;
}
#grey{
    background-color: grey;
}
#greenyellow{
    background-color: greenyellow;
}